:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Reset */

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* Container and section */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logo-header {
  color: #000000;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}

.navigation-list-link.current {
  color: var(--accent-color);
}

.navigation-list-link,
.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-link {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

.header-envelope {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero section */
.hero {
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-img.jpg);
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--secondary-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left: 16px;

  border-radius: 4px;
  border-color: transparent;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* About specifities of working section */

.specifities {
  padding-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.specifities-list {
  display: flex;
}

.specifities-list-item {
  width: calc((100% - 90px) / 4);
}

.specifities-list-item:not(:last-child) {
  margin-right: 30px;
}

.specifities-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  max-width: 100%;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.specifities-list-title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.specifities-list-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}

/* About types of activities section */

.title {
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.activities-list {
  display: flex;
}

.activities-list-item:not(:last-child) {
  margin-right: 30px;
}

/* About our team section */

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-list-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% / 4) - 30px);
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-person {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.person-name,
.person-profession {
  font-size: 16px;
  line-height: 1.19;
}
.person-profession {
  margin-bottom: 16px;
}

.person-name {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
}

.social-icon {
  fill: currentColor;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: #afb1b8;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

/* Clients */

.clients-list {
  display: flex;
}

.clients-link {
  min-width: 170px;
  min-height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  fill: currentColor;
}

/* Portfolio */

/* Portfolio filters */
.filter-button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  border-radius: 4px;
  border-color: transparent;
}

/* Portfolio cards */

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.cards-list-item {
  flex-basis: calc((100% / 3) - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.cards-list-link:hover,
.cards-list-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-image {
  max-width: 100%;
  height: auto;
}

.cards-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.cards-list-name {
  margin-bottom: 4px;
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.cards-project {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.bottom-logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}

.logo-footer {
  color: var(--secondary-text-color);
}

.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--secondary-text-color);
  margin-bottom: 9px;
  margin-top: 0;
}

.footer-list-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-item.mail {
  margin-bottom: 9px;
}

.footer-list-link:hover,
.footer-list-link:focus {
  color: var(--accent-color);
}

.footer-social-title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-contacts-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-contacts-block {
  margin-right: 70px;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-text-color);
}
